includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 10
    paths:
        - src
        - config
        - tests/Support/User.php
    configDirectories:
        - config
    checkOctaneCompatibility: true